<main>
  <h1>crohnicle</h1>
  <h2>find other crohnies, locally and online.</h2>
  <h3>share your story.<br> connect with others.<br> form groups for support, activities, anything you want.<br> create and host events.</h3>


  {{#unless user}}
    <div class="user-buttons">
      <a href="/user/signup">signup</a>
      <a href="/user/login">login</a>
    </div>
  {{/unless}}
</main>

