<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <a href="/" id="crohniclename">crohnicle</a>
    <nav>
      {{#if user}}
    <div class="links">
      <div class="dropdown">
        <button id="groupsbutton" class="dropbtn">groups</button>
        <div id="groupDropdown" class="dropdown-content">
          <a href="/user/groups">my groups</a><br>
          <a href="/groups">find groups</a><br>
          <a href="/groups/create">create a group</a>
        </div>
      </div>
      <div class="dropdown">
        <button id="friendsbutton" class="dropbtn">friends</button>
        <div id="friendsDropdown" class="dropdown-content">
          <a href="/user/friends">my friends</a><br>
          <a href="/user/findfriends">find friends</a><br>
        </div>
      </div>
      <div class="dropdown">
        <button id="eventsbutton" class="dropbtn">events</button>
        <div id="eventsDropdown" class="dropdown-content">
          <a href="/user/events">my events</a>
          <a href="/events">find events</a><br>
          <a href="/events/create">create an event</a>
        </div>
      </div>
      <div class="dropdown">
        <button id="profilebutton" class="dropbtn">profile</button>
        <div id="profileDropdown" class="dropdown-content">
          <a href="/user/profile">view dashboard</a>
          <a href="/user/profile/{{user.id}}">view profile</a>
          <a href="/user/edit">edit profile</a>
        </div>
      </div>
      <div class="logout">
       <form action="/user/logout" method="POST">
          <button>logout</button>
        </form>
      </div>
      {{/if}}
      {{#unless user}}
        <a href="/user/signup">signup</a>
        <a href="/user/login">login</a>
      {{/unless}}
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>made with <i class="fas fa-heart"></i> by JustLask</p>
  </footer>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  
</body>
</html>