<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <a href="/">crohnicle</a>

    <nav>
      {{#if user}}
        <a href="/user/profile">Profile</a>
        <a href="#">Groups</a>
        <a href="#">Events</a>
        <form action="/user/logout" method="POST">
          <button>Logout</button>
        </form>
      {{/if}}
      {{#unless user}}
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
      {{/unless}}
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>