<h1>FIND FRIENDS FAM</h1>

<div class="users">

{{#each users}}
  <div class="user">
    <a href="/user/profile/{{username}}">{{username}}</a>
    <img src="{{profilePic}}" alt="" class="userPic">
    <form action="/user/profile/addfriend" method="POST">
      <input type="hidden" name="friendID" value={{id}}>
      <button>Add Friend</button>
    </form>
  </div>

{{/each}}
</div>