<h1>SIGNUP TO MY SHIT</h1>

<form action="/user/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required><br>

  <label for="email">Email</label>
  <input type="email" name="email" id="email" required><br>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" required><br>

  <select name="type" id="type" required>
    <option value="" selected disabled>Select Account Type</option>
    <option value="Patient">Patient</option>
    <option value="Ally">Ally</option>
    <option value="Caregiver">Caregiver</option>
    <option value="Professional">Medical Professional</option>
  </select>
  <button>Sign up!</button>
</form>