<main>
  <div class="heading">
  <h1>create a group</h1>
  </div>

<div class="group">
  
    <form action="/groups/create" method="POST" enctype="multipart/form-data" class="group">
    <div>
      <input type="file" name="photo" id="photo" class="inputfile" />
      <label for="photo">add a photo</label>
    </div>

    <label for="name">name</label>
    <input type="text" name="name" id="name" placeholder="group name"><br>


    <label for="summary">summary</label>
    <textarea name="summary" id="summary" cols="30" rows="10" placeholder="tell us about your group!"></textarea><br>

    <label for="location">Location:</label>
      <input type="text" name="address" id="address" placeholder="street"><br>
      <input type="text" name="city" id="city" placeholder="city">
      <input type="text" name="state" id="state" placeholder="state"><br>
      <input type="text" name="zipcode" id="zipcode" placeholder="zipcode"><br>

    <div class="flexright">
      <button class="buttony pushright">create</button>
    </div>

  </form>
</div>

</main>